* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: poppinsregular;
}
.logo {
  width: 100px;
  height: 100px;
}
header {
  padding: 20px 70px;
  background-color: black;
}
.navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navigation ul {
  display: flex;
  gap: 60px;
  margin-left: 60px;
}
.navigation .contato {
  margin-left: 400px;
  border: 10px;
  border-color: black;
}
a {
  color: #bbbbbb;
}
a:hover {
  color: white;
  transition: 0.3s all;
}
.contato {
  margin-bottom: 50px;
}
#btn-contato {
  border: 2px solid white;
  padding: 15px;
}
#btn-contato:hover {
  background-color: white;
  color: black;
  transition: 0.5s all;
}
h4 {
  font-weight: 12px;
  color: silver;
  padding: 10px;
  margin-left: 200px;
}
h2 {
  font-size: 70px;
  padding: 10px;
  margin-left: 200px;
}
.main-one {
  padding-top: 50px;
}
p {
  width: 40%;
  margin-left: 210px;
  font-size: 12pt;
  line-height: 16pt;
}
#btn-telefone {
  border: 2px solid black;
  padding: 15px;
  color: black;
}
#btn-telefone:hover {
  background-color: black;
  color: white;
  transition: 0.5s all;
}
.lean-more {
  padding-top: 60px;
  margin-left: 210px;
  display: flex;
  gap: 60px;
}
#leia {
  color: black;
  text-decoration: underline;
}
#leia:hover {
  color: #c3c3c3;
  transition: 1s all;
}
#imgroupa {
  position: absolute;
  left: 65%;
  top: 30%;
}
/* Main 2 */
.main-two {
  background-color: black;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  padding-bottom: 70px;
}
#imgmapa {
  margin-left: 100px;
  margin-top: 100px;
  width: 600px;
  height: 600px;
}
.txt {
  color: white;
  margin-left: 200px;
  padding: 10px;
  font-size: 15px;
}
.local {
  padding-top: 130px;
}
#txt1 {
  color: white;
  font-size: 30px;
  margin-left: 210px;
}
#txtcountries {
  color: silver;
  font-size: 25px;
  padding-top: 80px;
  margin-left: 200px;
}
#btn-telefone2 {
  border: 2px solid white;
  padding: 15px;
  color: white;
  margin-left: 450px;
}
#btn-telefone2:hover {
  background-color: white;
  color: black;
  transition: 0.5s all;
}
.contato {
  padding-top: 60px;
}
/* Main Three */
.main-three {
  display: flex;
  padding: 10px;
  padding-bottom: 100px;
}
.img {
  width: 200px;
  height: 200px;
  margin-left: 200px;
  margin-top: -280px;
}
.title {
  margin-left: 96px;
  margin-right: auto;
  padding: 20px;
}
.text {
  margin-left: auto;
  margin-right: auto;
}
#advantages {
  padding-bottom: 90px;
}
#flex {
  display: flex;
}
/* footer */

.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: black;
  padding: 50px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  margin-left: 25px;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  margin-left: 20px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  margin-left: 35px;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  background-color: #ffffff;
}
#mapa iframe {
  width: 97%;
  height: 500px;
  margin-left: 20px;
}
.row {
  display: flex;
}

/* responsividade */
@media (min-width: 576px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
  }
  .navigation {
    width: 200%;
    height: auto;
  }
  #btn-contato {
    position: absolute;
    right: -400px;
    top: 45px;
  }
}

@media (min-width: 768px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  header {
    width: 100%;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
